@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital@1&display=swap');
/*
   width: 1200px;
   height: 500px;
   margin-left: 80px;
   margin-top:20px;
   padding:20px 20px 20px 20px;
   background-repeat: no-repeat;
   background-image: linear-gradient(180deg, #375F42 0%, rgba(38, 165, 58, 0.94) 100%),url(bg.gif);
   background-size: cover;
   
  }*/
  
 #bg {
    
    background: linear-gradient(180deg, #375F42 , rgba(67, 135, 86, 0.6) 100%),
    url('../../assets/bg.gif');
    width: 100%;
    height: 100vh;
     
     /* margin-bottom:54px;  */
    
    background-size: contain;
    color: white;
    
} 
#bg h1{
    position: absolute;
width: 419px;
height: 137px;
left: 160px;
top: 162px;

font-family: 'Hanuman', serif;
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 73px;

color: #FFF9F9;

}
.bor_env img{
   width: 52.5%;
   height: 360px;
   position: absolute; 
   top: 1096px;
   left: 641px;
  

}
#bg p{
    position: absolute;
width: 449px;
height: 247px;
left: 160px;
top: 340px;

font-family: 'Hanuman', serif;
font-style: normal;
font-weight: 200;
font-size: 30px;
line-height: 30px;

color: #FFFFFF;
}
.mainpic img{
    position: absolute;
    width: 420px;
    height: 400px;
    top:165px;
    left: 770px;
    border-radius: 50%;

}
/*.mainpic1 img{
    top: 480px;
    width: 100%;
    height: 100vh;
    z-index:1;

}*/


.gifi{
   
    background-color: white;
}

.gifi img{

    height: 1600px;
    width: 100%;
    z-index: 1;
}
.border{
    border-top: 12px  solid #375F42;
    
    
    
    }
    .logo{
        border-top: 12px solid #375F42;
        
        /*background: linear-gradient(180deg, #375F42 , rgba(38, 165, 58, 0.75) 100%);
    */}

.bg img{
    position: absolute;
    width: 1168px;
    height: 653px;
    left: 100px;
    top: 60px;
    
}   
.heading h1{
    font-size:50px;
    font-family: 'Hanuman';
font-style: normal;
font-weight: 700;
left: 455px;
top: 1440px;
position: absolute;
margin-top:10px;


color: #375F42;


} 
.heading2 h1 {
    font-size: 50px;
    font-family: 'Hanuman';
    font-style: normal;
    font-weight: 700;
    left: 695px;
    top:1440px;
    position: absolute;
    margin-top: 10px;


    color: white;


}
.cause{
    background-color: whitesmoke;
    height: 710px;
   
    
}
.headingcause{
    font-size:25px;
    font-family: 'Hanuman';
    font-style: normal;
    font-weight: 800;
    background: #375F42;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    background-clip: text;
    position: absolute;
    top: 770px;
    left: 769px;

}
.bgcause h1{
 position: absolute;
 font-family:'Hanuman';
 font-weight:700;
 font-size: 60px;
 color:#375F42;
 top:1200px;
 left:640px;
 opacity: 0.15;
}
.bgcause1 h1 {
    position: absolute;
    font-family: 'Hanuman';
    font-weight: 700;
    font-size: 60px;
    color: #375F42;
    top: 1050px;
    left: 1120px;
    opacity: 0.15;
}
.bgcause2 h1 {
    position: absolute;
    font-family: 'Hanuman';
    font-weight: 700;
    font-size: 60px;
    color: #375F42;
    top: 720px;
    left: 505px;
    opacity: 0.15;
}
.bgcause3 h1 {
    position: absolute;
    font-family: 'Hanuman';
    font-weight: 700;
    font-size: 60px;
    color: #375F42;
    top: 1230px;
    left: 975px;
    opacity: 0.15;
}
.bgcause4 h1 {
    position: absolute;
    font-family: 'Hanuman';
    font-weight: 700;
    font-size: 60px;
    color: #375F42;
    top: 845px;
    left: 995px;
    opacity: 0.15;
}

.content_det1{
    position: absolute;
    top:890px;
    left: 690px;
    right:15px;
}
.content_det1 h1{
    font-size:25px;
    font-family: 'Hanuman';
    
    font-weight: 700;
    color: #375F42;
   
}
.content_det1 p{
    font-size:20px;
    font-family: 'Hanuman';
    font-weight: 550;
    position: absolute;
        top:29px;
    
    color: #227C70;
}
.content_det2{
    position: absolute;
    top:1015px;
    left: 690px;
}
.content_det2 h1{
    font-size:25px;
    font-family: 'Hanuman';
    font-style: normal;
    font-weight: 700;
    color: #375F42;
    
}
.content_det2 p{
    font-size:20px;
    font-weight: 600;
       margin-top: -12px;
    font-family: 'Hanuman';
    
    color: #227C70;
   
}
.content_det3{
    position: absolute;
    top:1140px;
    left: 690px;
}
.content_det3 h1{
    font-size:25px;
    font-family: 'Hanuman';
    font-style: normal;
    font-weight: 700;
    color: #375F42;
   
}
.content_det3 p{
    font-size:20px;
    font-family: 'Hanuman';
    font-weight: 600;
        margin-top: -12px;
    color: #227C70;
    
}
  
 
 .fact{
    position: absolute;
    top:360px;
    padding: 18px;
    
 }
  .fact h1{
    font-size: 28px;
    
    font-family: 'Allura', cursive;
    font-family: 'Cedarville Cursive', cursive;
   /* position: absolute;
    top: 1163px;
    left:100px;*/
    margin-left:20px;
    color: black;
    
    
  }
  .fact p{
    font-size: 1.1rem;
    margin-top: -19px;
    font-family: 'Shantell Sans', cursive;
    /*font-family: 'Allura', cursive;
font-family: 'Cedarville Cursive', cursive;*/
font-weight:700;
    /*position: absolute;
    top: 1200px;
    left:692px;*/
    margin-left:20px;
    margin-right:20px;
    color: black;
    

    
  }
  /* .line  {
      position: absolute;
      width: 826px;
      background-color: solid green;
      height:4px;
       
      /* border-top:3px solid green; */
      /* background-image:linear-gradient(180deg, rgba(81, 102, 142, 0.729) 15%, rgba(83, 149, 101, 0.729) 62.51%, rgba(41, 164, 61, 0.783) 96.35%, rgba(38, 165, 58, 0.846) 100%);
      
      right:0;
      top: 744px;
      transform: rotate(0deg);
  } */ 
  /* .line2 {
      position: absolute;
      width: 826px;
      background-color: solid green;
      height: 4px;

      /* border-top:3px solid green; */
      /* background-image: linear-gradient(180deg, rgba(81, 102, 142, 0.729) 15%, rgba(83, 149, 101, 0.729) 62.51%, rgba(41, 164, 61, 0.783) 96.35%, rgba(38, 165, 58, 0.846) 100%);

      left: 0;
      top: 1044px;
      transform: rotate(0deg);
  } */ 
  .polaroid{
    height: 563px;
    width: 32.3%;
    background-color: white;
    position:absolute;
    border: 1px solid rgba(128, 128, 128, 0.329);
    top:800px;
    margin-left: 120px;
    transform: rotate(-15deg);
    border-radius: 8px;
    
  }
  
  .rec1{
    background-color: #33a596;
    height: 550px;
    width: 32%;
    position :absolute;
    left: 85px;
    top: 810px;
    border-radius: 16px;
    transform: rotate(10deg);
  }
  .rec2{
    background-color: #9cecf7;
    height: 500px;
    width: 30%;
    position :absolute;
    left: 80px;
    top: 810px;
    border-radius: 16px;
    transform: rotate(40deg);
  }
  .rec3{
    background-color:#0a7f83 ;
    height: 500px;
    width: 30%;
    position :absolute;
    left: 123px;
    top: 850px;
    border-radius: 16px;
    transform: rotate(270deg);
  }
  .gifi img{
    
    height: 360px;
    width: 85%;
    margin-left:33px;
    margin-top: 35px;
    

  }
  


/* .gif img{
    
    width: 645px;
    height: 460px;
    margin-top: -310px;
     margin-left:704px;
     margin-bottom: -85px;
} */
.soln{
height:710px;
/* margin-top:10px; */
background-color:#ebf7ebc9;
/* background:linear-gradient(180deg, rgba(154, 225, 143, 0.73) 10.27%, rgba(240, 241, 149, 0.963002) 96.87%); */
}
.recsoln{
    position: absolute;
    top: 1430px;
    right:0px;
    height: 190px;
    width: 49%;
    border-radius: 5px 5px 0px 5px;
    background-color:#559668e3;
}
.recsoln1 {
    position: absolute;
    top:1580px;
    right: 0px;
    height: 138px;
    width: 58%;
    border-radius: 5px 0px 0px 5px;
    background-color: rgba(56, 240, 169, 0.524);
}
.recsoln2 {
    position: absolute;
    top: 1715px;
    right: 0px;
    height: 142px;
    width: 72%;
    border-radius: 5px 5px 0px 0px;
    background-color: #559668e3;
}
.recsoln3 {
    position: absolute;
    top: 1800px;
    right: 0px;
    height: 140px;
    width: 57%;
    border-radius: 5px 5px 0 0 ;
    background-color: rgba(56, 240, 169, 0.524);;
}
.recsoln4 {
    position: absolute;
    top: 1935px;
    right: 0px;
    height: 150px;
    width: 80%;
    border-radius: 5px 0px 0px 5px;
    background-color: #559668e3;
}
.recsoln5 {
    position: absolute;
    top: 1985px;
    right: 0px;
    height: 150px;
    width: 87%;
    border-radius:5px 0px 0px 5px;
    background-color: rgba(56, 240, 169, 0.524);
}
.recsoln6 {
    position: absolute;
    top: 2125px;
    right: 0px;
    height: 30px;
    width: 97%;
    border-radius: 5px 0px 0px 5px;
    background-color: #559668e3;
}
.frontrow{
    position: absolute;
    top:210px;
    left: 250px;
}
.card1{
    background-color: #F6F6DB;
    height: 250px;
    width: 310px;
    position: absolute;
    left: 40px;
    top: 1320px;
    border-radius: 15px;
    box-shadow: #9ace9a 5px 6px;

}
.card1 h2{
    position: absolute;
    top: 140px;
    left: 20px;
    font-size:20px;
    font-weight:600;
    color:#375F42;
}
.card1 p {
    position: absolute;
    top: 175px;
    left: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #1cbd4a;
    text-align: center;
}
.card1 img{
    height: 180px;
    width: 62%;
    position : absolute;
    top:0px;
    left:72px;

}
.card2 {
    background-color: #F6F6DB;
    height: 250px;
        width: 310px;
    position: absolute;
    left: 40px;
    top: 1620px;
    border-radius: 15px;
    box-shadow: #9ace9a 5px 6px;

}
.card2 h2 {
    position: absolute;
    top: 140px;
    left: 55px;
    font-size: 20px;
    font-weight: 600;
    color: #375F42;
}

.card2 p {
        position: absolute;
        top: 175px;
        left: 5px;
        font-size: 15px;
        font-weight: 500;
        color: #1cbd4a;
        text-align: center;
}

.card2 img {
    height: 165px;
        width: 64%;
        position: absolute;
        top: 0px;
        left: 62px;

}
.secondrow {
    position: absolute;
    top: 210px;
    left: 670px;
}
.card3 {
    background-color: #F6F6DB;
    height: 250px;
    width: 310px;
    position: absolute;
    left: 40px;
    top: 1320px;
    border-radius: 15px;
    box-shadow: #9ace9a 5px 6px;

}
.card3 h2 {
    position: absolute;
    top: 140px;
    left: 55px;
    font-size: 20px;
    font-weight: 600;
    color: #375F42;
}

.card3 p {
    position: absolute;
    top: 175px;
    left: 6px;
    font-size: 15px;
    font-weight: 500;
    color: #1cbd4a;
    text-align: center;
}

.card3 img {
    height: 185px;
        width: 70%;
        position: absolute;
        top: -2px;
        left: 30px;

}
.card4 {
    background-color: #F6F6DB;
height: 250px;
    width: 310px;
    position: absolute;
    left: 40px;
    top: 1620px;
    border-radius: 15px;
    box-shadow: #9ace9a 5px 6px;

}
.card4 h2 {
    position: absolute;
    top: 140px;
    left: 68px;
    font-size: 20px;
    font-weight: 600;
    color: #375F42;
}

.card4 p {
position: absolute;
    top: 175px;
    left: 6px;
    font-size: 15px;
    font-weight: 500;
    color: #1cbd4a;
    text-align: center;
}

.card4 img {
       height: 185px;
        width: 70%;
        position: absolute;
        top: -2px;
        left: 50px;

}

.footer{
    padding-top: 0px;
    height:160px;
    background: linear-gradient(180deg, rgba(81, 102, 142, 0.729) 0%, rgba(83, 149, 101, 0.729) 62.51%, rgba(41, 164, 61, 0.783) 96.35%, rgba(38, 165, 58, 0.846) 100%);
}
.col{
    color: whitesmoke;
}
.idea h1{
    margin-left: 18px;
    
}