.store {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background: radial-gradient(1200px at 50% 40%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
}

.bg {
  padding: 10px;
}

.bg h1 {
  margin-top: 0px;
  text-align: center;
  font-family: "Hanuman";
  color: white;
  font-size: 45px;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

.column {
  margin-left: auto;
  margin-right: auto;
}

.column p {
  position: relative;
}

.row {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-row-gap: 30px;
  align-items: end;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 10px;
  border: 13px solid rgba(33, 18, 131, 0.397);
  height: 230px;
  width: 210px;
}

.card img {
  position: relative;
  width: 40%;
  height: 22vh;
  left: 0px;
  top: 2px;
  opacity: 1;
}

.cardborder {
  position: relative;
}

.coins {
  display: flex;
  justify-content: center;
}

.coins img {
  width: 18%;
  height: 22px;
  margin-right: 3px;
}

.coins p {
  font-weight: 630;
  margin-top: 0;
  margin-bottom: 0;
}
.popup {
  border-radius: 15px;
  padding: 15px 15px 120px 15px;
  border: 5px solid rgba(134, 122, 208, 0.52);
}
.viewArt {
  font-size: 19px;
  font-family: "Hanuman";
  margin-bottom: 5px;
}
.close button {
  width: 70px;
  height: 30px;
  font-size: 19px;
  background: rgba(67, 135, 86, 0.9);
  border-radius: 5px;
  color: #fff9f9;
}
.rewardInfo p {
  font-size: 19px;
  font-family: "Hanuman";
}
.dis {
  background: rgba(33, 18, 131, 0.397);
  color: white;
  font-size: 21px;
}
.dis p {
  font-size: 19px;
  font-family: "Hanuman";
  margin-top: 10px;
}
.endbutton1 button {
  width: 70px;
  height: 30px;
  font-size: 16px;
  background: rgba(67, 135, 86, 0.9);
  border-radius: 5px;
  color: #fff9f9;
  margin-right: 15px;
  position: absolute;
  top: 200px;
  left: 140px;
}
.endbutton2 button {
  width: 70px;
  height: 30px;
  position: absolute;
  top: 200px;
  left: 220px;
  font-size: 16px;
  background: rgba(221, 70, 43, 0.925);
  border-radius: 5px;
  color: #fff9f9;
  margin-right: 15px;
}
.congrats p{
 font-family:'Hanuman';
 font-size: 20px;
}
.congrats button{
    height: 34px;
    width :70px;
    margin-right: 10px;
    color : white;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid white;
    background :rgb(99, 79, 218)

}