.heading h1{
    position: absolute;
font-family: 'Hanuman';
font-style: normal;
font-weight: 700;
top: 73px;
left: 460px;
font-size: 35px;
line-height: 73px;

color: #FFFFFF;
}
.heading p{
    position: absolute;
 font-size: 24px;
 left: 290px;
 text-align: center;
 top: 137px;
 color: white;
}
.shop{
    position: absolute;
width: 99%;
height: 100vh;
left: 6px;
top: 0px;
right: 5px;


background: linear-gradient(180deg, rgba(81, 102, 142, 0.729) 0%, rgba(83, 149, 101, 0.729) 62.51%, rgba(41, 164, 61, 0.783) 96.35%, rgba(38, 165, 58, 0.846) 100%);
}
.front_row{
    position: absolute;
    top: 210px;
    

}
.circle_shop{
position: absolute;
width: 190px;
height: 187px;
left: 80px;

background: white;
border-radius: 120px;

}
.circle_shop img{
    position: absolute;
width: 148px;
height: 164px;
left: 23px;
top: 8px;
}
.circle_shop p{
    color: white;
    font-size: 22px;
    font-style: 'Hanuman';
    position: absolute;
    top:190px;
    left: 60px;
}
.circle_groc{
    position: absolute;
    width: 190px;
    height: 187px;
    left: 580px;
    background: white;
    border-radius: 120px;  
}
.circle_groc img{
    position: absolute;
width: 145px;
height: 155px;
left: 18px;
top:16px;
}
.circle_groc p{
    color: white;
    font-size: 22px;
    font-style: 'Hanuman';
    position: absolute;
    top:190px;
    left: 60px;
}
.circle_foot{
    position: absolute;
    width: 190px;
    height: 187px;
    left: 1063px;
    background: white;
    border-radius: 120px;  
}
.circle_foot img{
 position: absolute;
width: 150px;
height: 162px;
left: 22px;
top:16px;
}
.circle_foot p{
    color: white;
    font-size: 22px;
    font-style: 'Hanuman';
    position: absolute;
    top:190px;
    left: 60px;
}
.second_row{
    position: absolute;
    top: 420px;
}
.circle_fur{
    position: absolute;
    width: 193px;
    height: 187px;
    left: 315px;
    
    background: white;
    border-radius: 120px;
}
.circle_fur p{
    color: white;
    font-size: 22px;
    font-style: 'Hanuman';
    position: absolute;
    top:190px;
    left: 60px;
}
.circle_fur img{
    position: absolute;
   width: 164px;
   height: 162px;
   left: 14px;
   top:16px;
   }
.circle_stat{
    position: absolute;
    width: 190px;
    height: 187px;
    left: 850px;
    
    background: white;
    border-radius: 120px;
}
.circle_stat img{
    position: absolute;
   width: 140px;
   height: 162px;
   left: 24px;
   top:16px;
   }
   .circle_stat p{
    color: white;
    font-size: 22px;
    font-style: 'Hanuman';
    position: absolute;
    top:190px;
    left: 60px;
}