.footer {
    margin-top: -20px;
    height: 300px;
    background: #375F42;
}

.col {
    color: white;
}

.idea h1 {
 margin-top: 20px;
 padding-top: 29px;
 padding-left: 20px;
}
.idea p{
    font-style: italic;
    position: absolute;
    left: 20px;
    margin-top: -10px;

}
.lastline p{
        color: white;
        left: 20px;
        margin-top: 180px;
        text-align: center;
}
.col1{
    position: absolute;
    

}
.col1 p{
    
margin-top: -240px;
    margin-left: 1000px;
    font-weight: 600;
    font-size: 25px;
    font-family: 'Hanuman';
    color: white;
}
.col1 hr{
color: white;
width: 1380px;
margin-top: 185px;

}
.socialicons{

    margin-top: -20px;
    font-size: 1.8rem;
    margin-left: 1020px;
    display: flex;
    padding-right: 30px;
    color: white;
}
