:root {
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
}

.hero_section {
  background: radial-gradient(
    1200px at 50% 40%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  padding: var(--spacing-xl) var(--spacing-xl);
}

.card_grid {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .card_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card_grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background-color: whitesmoke;
  border-radius: var(--spacing-l);
  list-style: none;
  position: relative;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  text-align: center;
  height: 85%;
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l) var(--spacing-l) 0 0;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card__content {
  width: 250px;
  text-align: center;
  padding: var(--spacing-l);
  position: absolute;
  top: 0px;
}

.card__category {
  color: white;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  text-align: center;
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

.icon {
  display: flex;
  color: black;
  left: 220px;
  position: absolute;
  top: 400px;
}

.count {
  margin-top: 1px;
  text-align: center;
}

.iconClass {
  margin-left: 4px;
  margin-right: 4px;
}

.buttonGrid {
  position: absolute;
  top: 150px;
  left: 24%;
  width: 100%;
}

.button_9 {
  appearance: button;
  backface-visibility: hidden;
  color: #375f42;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  background-color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 17px;
  font-weight: 700;
  height: 44px;
  left: 45%;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
}

.button_9:disabled {
  cursor: default;
}

.button_9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.post_metadata {
  top: 395px;
  font-size: 1.2rem;
  padding-top: 3%;
  position: absolute;
  left: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.post_metadata .post_info {
  padding-left: 10px;
  margin-top: 5px;
}

.post_metadata .post_info a {
  color: #375f42;

  text-decoration: none;
}

.post_metadata .post_info small {
  color: rgba(0, 0, 0, 0.44);
}

img.avatar_image {
  border-radius: 50%;
}

.post_metadata {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1%;
}

.posts.show .metabar-author-info [data-react-class="PopoverLink"] {
  display: inline-block;
  margin-left: 8px;
}

.posts.show .metabar-author-info [data-react-class="PopoverLink"] a {
  color: rgba(0, 0, 0, 0.6);
}

.popover_link {
  position: relative;
}

.bottom {
  top: -3px;
  left: 2px;
  width: 100%;
  position: absolute;
  background-color: white;
}
.Modal {
  -webkit-backdrop-filter: blur(1.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.modalHeader {
  margin-bottom: 40px;
}

.modalHeader div {
  display: inline-block;
}
.modalHeader p {
  font-family: "Hanuman";
  font-size: 20px;
  font-weight: 500;
}

.close {
  position: absolute;
  left: 76%;
  top: 30px;
}

.close button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 50px;
  font-size: 1rem;
}

.newBillForm input {
  display: block;
  font-size: 1rem;
  margin-top: 10px;
  width: 150px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
.newBillForm p {
  position: absolute;
  top: 30px;
}

.newBillForm div {
  margin-top: -13px;
  margin-bottom: -8px;
}
.box1 label {
  position: absolute;
  top: 157px;
}
.box1 textarea {
  position: absolute;
  top: 180px;
  border: none;
  border-radius: 5px;
}
.upload p {
  position: absolute;
  top: 300px;
}
.upload img {
  position: absolute;
  top: 350px;
}

#submitBtn {
  position: absolute;
  bottom: 22px;
  height: 30px;
  border: none;
  border-radius: 5px;
  width: 90px;
  padding: 6px;
  top: 385px;
  color: white;
  text-align: center;
  margin-top: 100px;
}

.submitEnabled {
  background-color: #1183ca;
}

.submitDisabled {
  background-color: #88b0d7;
}

textarea {
  resize: none;
}

.liked {
  color: red;
}

.unliked {
  color: black;
}

.post_metadata_modal {
  top: 50px;
  font-size: 1.2rem;
  padding-top: 6%;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.post_metadata_modal .post_info {
  padding-left: 10px;
  margin-top: 5px;
}

.post_metadata_modal .post_info a {
  color: #375f42;

  text-decoration: none;
}

.post_metadata_modal .post_info small {
  color: rgba(0, 0, 0, 0.44);
}

.post_metadata_modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.pull_right {
  display: flex;
  position: absolute;
  padding-top: 3%;
  left: 300px;
  top: 70px;
}

.pull_left {
  position: absolute;
  top: 110px;
  padding-left: 12%;
}

.singleArt {
  width: 100%;
  position: fixed;
  top: 120px;
  left: 1%;
  font: 500 14px "Source Sans Pro";
  color: #555353;
}

.contentClass {
  width: 358px;
  top: 280px;
  position: absolute;
  line-height: 1.5em;
  margin: 5px 0;
  padding-top: 30px;
  font-style: italic;
  justify-content: flex-start;
  left: 8%;
  right: 5%;
  font-size: 1em;
  font-weight: 500;
}

.art_img img {
  width: 360px;
  height: 45%;
  margin-top: 20px;
  background-size: cover;
  left: 9%;
  top: 34%;
  position: fixed;
}

.infoHeader {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 7%;
}

.modalTitle {
  width: 100%;
  position: fixed;
  margin-top: 15px;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
}

.pull_right_modal {
  display: flex;
  position: absolute;
  padding-top: 3%;
  left: 300px;
  top: 63px;
}

.pull_left_modal {
  position: absolute;
  top: 90px;
  font-size: small;
  color: gray;
  padding-left: 11%;
}

.popover_link_modal {
  position: fixed;
  left: 18%;
  font-weight: 500;
}

.viewArt {
  position: relative;
  left: 4%;
}

.uploadButton {
  position: absolute;
  left: 250px;
  top: 262px;
  border: none;
  border-radius: 5px;
  width: 72px;
  padding: 5px;
  margin-top: 10px;
  background-color: #1183ca;
  color: #ffffff;
}
.file input {
  position: absolute;
  top: 250px;
  left: 15px;
  font-size: 16px;
  font-family: "Hanuman";
}
