.bg img{
   
       background-repeat:no-repeat;
        width: 1335px;
        position: absolute;
        left: 14px;
        margin-top:5px;
        height: 577px;
        background-size: contain;
        opacity: 0.3;

}
.bg h1{
    position: absolute;
    text-align: center;
    font-family:'Hanuman';
    left:535px;
    color: #375F42;
    font-size:40px;
    top:55px;


}
.front_row{
    position: absolute;
    top:137px;
    
}
.reward1{
        position:absolute;
        width: 210px;
        height: 240px;
        left: 350px;
        background: linear-gradient(180deg, rgba(18, 131, 23, 0.2576) 1.04%, rgba(34, 18, 131, 0.46) 100%);
        border-radius: 15px;
}
.rewardrec1{
        position: absolute;
            width: 190px;
            height: 222px;
            left: 10px;
            top:10px;
            
        
            background: #FFFFFF;
            border-radius: 10px;
    
}
.netflix img{
    position: absolute;
    width:100%;
    height: 27vh;
    left:0px;
    top:-10px;
    opacity: 1;
    

}
.netflix h1{
    position: absolute;
    font-size:20px;
    top: 140px;
    left: 55px;
    
    font-weight: 700;
}

.coins img{
 position: absolute;
 width: 18%;
 height: 25px;
 top: 185px;
 left: 50px;
 

}
.coins p{
    position: absolute;
    top:175px;
    font-weight: 630;
    left: 86px;
}
.reward2{
        position:absolute;
        width: 210px;
        height: 240px;
        left: 830px;
        background: linear-gradient(180deg, rgba(18, 131, 23, 0.2576) 1.04%, rgba(34, 18, 131, 0.46) 100%);
        border-radius: 15px;
}
.rewardrec2{
        position: absolute;
            width: 190px;
            height: 222px;
            left: 10px;
            top:10px;
            
        
            background: #FFFFFF;
            border-radius: 10px;
    
}
.myntra img {
    position: absolute;
    width: 90%;
    height: 30vh;
    left: 9px;
    top: -10px;
    opacity: 1;


}
.myntra h1 {
    position: absolute;
    font-size: 20px;
    top: 140px;
    left: 55px;

    font-weight: 700;
}
.coinsmyn img {
    position: absolute;
    width: 18%;
    height: 25px;
    top: 185px;
    left: 50px;


}
.coinsmyn p {
    position: absolute;
    top: 175px;
    font-weight: 630;
    left: 86px;
}
.second_row{
    position: absolute;
        top: 400px;
    
}
.reward3 {
    position: absolute;
    width: 210px;
    height: 240px;
    left: 350px;
    background: linear-gradient(180deg, rgba(18, 131, 23, 0.2576) 1.04%, rgba(34, 18, 131, 0.46) 100%);
    border-radius: 15px;
}

.rewardrec3 {
    position: absolute;
    width: 190px;
    height: 222px;
    left: 10px;
    top: 10px;
    background: #FFFFFF;
    border-radius: 10px;

}
.amazon img {
    position: absolute;
    width: 300px;
    height: 21vh;
    left: -53px;
    top: 7px;
    opacity: 1;


}
.amazon h1 {
    position: absolute;
    font-size: 20px;
    top: 140px;
    left: 55px;

    font-weight: 700;
}
.coinsama img {
    position: absolute;
    width: 18%;
    height: 25px;
    top: 185px;
    left: 50px;


}

.coinsama p {
    position: absolute;
    top: 175px;
    font-weight: 630;
    left: 86px;
}
.reward4 {
    position: absolute;
    width: 210px;
    height: 240px;
    left: 830px;
    background: linear-gradient(180deg, rgba(18, 131, 23, 0.2576) 1.04%, rgba(34, 18, 131, 0.46) 100%);
    border-radius: 15px;
}

.rewardrec4 {
    position: absolute;
    width: 190px;
    height: 222px;
    left: 10px;
    top: 10px;
    background: #FFFFFF;
    border-radius: 10px;

}
.flipkart img {
    position: absolute;
    width: 400px;
    height: 39vh;
    left: -103px;
    top: -45px;
    opacity: 1;


}

.flipkart h1 {
    position: absolute;
    font-size: 20px;
    top: 140px;
    left: 55px;

    font-weight: 700;
}

.coinsflip img {
    position: absolute;
    width: 18%;
    height: 25px;
    top: 185px;
    left: 50px;


}

.coinsflip p {
    position: absolute;
    top: 175px;
    font-weight: 630;
    left: 86px;
}