.header {
    position: sticky;
    background-color: white;
    border-top: 10px solid #375F42;
    width: 100%;
    top: 0;
    height: 50px;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header img {
    width: 45px;
    margin-right: 0px;
    margin-left: 10px;
    border-radius: 50%;
}

.heading h1 {
    font-family: 'Hanuman', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #375F42;
    margin-top: 0px;
    margin-bottom: 0px;
}
.login{
    position:absolute;
    right:20px;
}
.login button{
    border:none;
    background-color: #375F42;
    color:white;
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    width: 80px;
}