.bck_black {
    background: #3c3c3c;
}

.bck_white {
    background: #ffffff;
}

.bck_red {
    background: #ff4800;
}

.bck_yellow {
    background:linear-gradient(180deg, rgba(81, 102, 142, 0.729) 0%, rgba(83, 149, 101, 0.729) 62.51%, rgba(41, 164, 61, 0.783) 96.35%, rgba(38, 165, 58, 0.846) 100%);
}
.popup {
    text-align: center;
    height:250px;
    width:550px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.popup h1 {
    background:linear-gradient(180deg, rgba(81, 102, 142, 0.729) 0%, rgba(83, 149, 101, 0.729) 62.51%, rgba(41, 164, 61, 0.783) 96.35%, rgba(38, 165, 58, 0.846) 100%);
    color: white;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin-top: 0;
}

.popup p {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 20px 10% 0;
    font-family:'Hanuman';
    font-weight:500;
}
.popup_container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup MyButton{
    font-size:15px;
    font-weight:700;
    position: absolute;

}
#question {
    margin-top: 0px;
    color: #3F9256;
    padding: 10px;
    text-align: center;
 
    font-family:'Hanuman';
    font-weight:500;
}

#question h4 {
    background-color: #fff;
    color: #0b0e21;
    display: inline-block;
    height: 30px;
    border-radius: 5px;
    width:130px;
    z-index:1;
    font-size: 20px;
    font-weight: 600;
}


#question p {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 52px;
    padding-right: 50px;
    z-index:1;
}
#question img{
 width: 1235px;
 height: 40vh;
 position: absolute;
 left:75px;
 top:0px;
 z-index:-1;
 opacity: 0.3;
}

#answers ul {
    list-style-type: none;
    padding: 0;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#answers li {
    background-color: #fff;
    border: 2px solid #6558B7;
    min-height: 50px;
    margin-left:75px;
    margin-right:18px;
    width: 90%;
    display: flex;
    margin-bottom: 10px;
    transition: color .3s ease, border-color .3s ease, transform .3s ease;
    cursor: pointer;
}

#answers li span {
    background:linear-gradient(180deg, rgba(38, 119, 165, 0.6862) 0%, rgba(34, 18, 131, 0.4324) 96.87%);
    color: #fff;
    font-size: 30px;
    margin-left:0px;
    flex: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s ease;
}

#answers li p {
    color: #0094da;
    font-size: 16px;
    font-weight: 600;
    flex: calc(100% - 75px);
    margin: auto 20px;
    transition: color .3s ease;
}

#answers li:after {
    display: block;
}

#answers li:hover {
    transform: scale(1.03);
}

#answers li.right {
    border-color: #4CAF50;
    color: #fff;
    background-color: #4CAF50;
}

#answers li.right span {
    background-color: #4CAF50;
}

#answers li.right p {
    color: #fff;
}

#answers li.wrong {
    border-color: #dc0a0a;
    color: #dc0a0a;
    background-color: #dc0a0a;
    animation: shake 1.0s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

#answers li.wrong span {
    background-color: #dc0a0a;
}

#answers li.wrong p {
    color: #fff;
    background-color: #dc0a0a;
}
#submit {
    text-align: center;
    margin: 20px 0;
}
@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
.fancy_btn {
    border: 2px solid #6558B7;
    border-radius: 0;
    background:linear-gradient(180deg, rgba(38, 119, 165, 0.6862) 0%, rgba(34, 18, 131, 0.4324) 96.87%);
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding: 14px 75px;
    font-style:'Hanuman';
    margin-top: 0px;
    text-transform: uppercase;
    transition: color .2s ease, background-color .2s ease;
}

.fancy_btn:hover {
    background-color: #fff;
    color: #0b0e21;
}