.modalHeader {
  margin-bottom: 40px;
}
.modalHeader div {
  display: inline-block;
}
.close {
  float: right;
}
.close button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 50px;
  font-size: 1rem;
}

.infoHeader {
  width: 100%;
}
 .modalTitle{
  padding-left: 42px;
  padding-right: 35px;
  margin-top: 15px;
  text-align: center;
 }

 .post_metadata_modal {
  top: 60px;
  font-size: 1.2rem;
  padding-top: 6%;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.post_metadata_modal .post_info {
  /* position: fixed; */
  padding-left: 10px;
  margin-top: 5px;
}
.post_metadata_modal .post_info a {
  color: #375f42;

  text-decoration: none;
}
.post_metadata_modal .post_info small {
  color: rgba(0, 0, 0, 0.44);
}

.post_metadata_modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* margin-left: -1%; */
}

.pull_right {
  display: flex;
  /* float: right; */
  position: absolute;
  padding-top: 3%;
  left: 300px;
  top: 70px;
}
.pull_left {
  position: absolute;
  top: 110px;
  padding-left: 12%;
}

.singleArt {
  position: absolute;
  top: 140px;
  font: 500 14px "Source Sans Pro";
  color: #555353;
}

img.avatar_image {
  border-radius: 50%;
}

.posts.show .metabar-author-info [data-react-class="PopoverLink"] {
  display: inline-block;
  margin-left: 8px;
}
.posts.show .metabar-author-info [data-react-class="PopoverLink"] a {
  color: rgba(0, 0, 0, 0.6);
}

.popover_link {
  position: relative;
}
.iconClass {
  margin-left: 4px;
  margin-right: 4px;
}

 .modalTitle{
  padding-left: 42px;
  padding-right: 35px;
  margin-top: 15px;
  text-align: center;
 }